.POPUP-NOTIFICATION {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 960px;
  position: relative;
}

.POPUP-NOTIFICATION .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 122px;
  background-color: #1c1f21;
}

.POPUP-NOTIFICATION .rectangle {
  position: absolute;
  top: 18px;
  left: calc(50.00% - 272px);
  width: 544px;
  height: 36px;
  background-color: #d9d9d9;
  border-radius: 17px;
  opacity: 0.5;
}

.POPUP-NOTIFICATION .text-wrapper {
  position: absolute;
  top: 24px;
  left: 498px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 6px 3px #0c0c0c40;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .title {
  position: absolute;
  top: 9px;
  left: 36px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jaro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: -0.48px;
  line-height: 72px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .div {
  position: absolute;
  top: 29px;
  left: 115px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jaldi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: -0.32px;
  line-height: 48px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .vector {
  position: absolute;
  width: 3.06%;
  height: 32.84%;
  top: 14.93%;
  left: 94.86%;
}

.POPUP-NOTIFICATION .search {
  position: absolute;
  top: 21px;
  left: 459px;
  width: 31px;
  height: 31px;
}

.POPUP-NOTIFICATION .rectangle-2 {
  position: absolute;
  top: 732px;
  left: 0;
  width: 1440px;
  height: 228px;
  background-color: #d2d2d2;
}

.POPUP-NOTIFICATION .rectangle-3 {
  position: absolute;
  top: 16px;
  left: 1298px;
  width: 60px;
  height: 55px;
  background-color: #484848;
  border-radius: 17px;
}

.POPUP-NOTIFICATION .alarm {
  position: absolute;
  top: 19px;
  left: 1307px;
  width: 43px;
  height: 46px;
}

.POPUP-NOTIFICATION .tr-gi-p-trung-t-m-tr {
  position: absolute;
  top: 803px;
  left: 86px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.POPUP-NOTIFICATION .span {
  font-weight: 700;
}

.POPUP-NOTIFICATION .text-wrapper-2 {
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
}

.POPUP-NOTIFICATION .i-u-kho-n-s-d-ng-qu {
  position: absolute;
  top: 823px;
  left: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.POPUP-NOTIFICATION .c-ng-ty-v-ch-ng-t-i {
  position: absolute;
  top: 803px;
  left: 1123px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.POPUP-NOTIFICATION .text-wrapper-3 {
  font-weight: 600;
}

.POPUP-NOTIFICATION .i-t-c-c-a-ch-ng-t-i {
  position: absolute;
  top: 803px;
  left: 863px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.POPUP-NOTIFICATION .unread-messages {
  position: absolute;
  top: 890px;
  left: 1365px;
  width: 52px;
  height: 52px;
}

.POPUP-NOTIFICATION .ringer-volume {
  position: absolute;
  top: 888px;
  left: 1288px;
  width: 52px;
  height: 52px;
}

.POPUP-NOTIFICATION .rectangle-4 {
  position: absolute;
  top: 87px;
  left: 0;
  width: 1440px;
  height: 36px;
  background-color: #000000cc;
}

.POPUP-NOTIFICATION .rectangle-5 {
  position: absolute;
  top: 86px;
  left: 1065px;
  width: 376px;
  height: 37px;
  background-color: #757575;
  border-radius: 26px;
  border: 1px solid;
  border-color: #000000;
}

.POPUP-NOTIFICATION .text-wrapper-4 {
  position: absolute;
  top: 86px;
  left: 494px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Jaldi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 36px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .text-wrapper-5 {
  position: absolute;
  top: 86px;
  left: 855px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Jaldi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 36px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .text-wrapper-6 {
  position: absolute;
  top: 86px;
  left: 1207px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Jaldi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 36px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .text-wrapper-7 {
  position: absolute;
  top: 86px;
  left: 101px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Jaldi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 36px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .rectangle-6 {
  position: absolute;
  top: 308px;
  left: 330px;
  width: 175px;
  height: 170px;
  background-color: #eaeee8;
  border-radius: 20px;
}

.POPUP-NOTIFICATION .rectangle-7 {
  position: absolute;
  top: 308px;
  left: 650px;
  width: 175px;
  height: 170px;
  background-color: #eaeee8;
  border-radius: 20px;
}

.POPUP-NOTIFICATION .rectangle-8 {
  position: absolute;
  top: 308px;
  left: 970px;
  width: 175px;
  height: 170px;
  background-color: #eaeee8;
  border-radius: 20px;
}

.POPUP-NOTIFICATION .p {
  position: absolute;
  top: 161px;
  left: 382px;
  width: 712px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 48px;
}

.POPUP-NOTIFICATION .text-wrapper-8 {
  position: absolute;
  top: 393px;
  left: 343px;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.POPUP-NOTIFICATION .text-wrapper-9 {
  position: absolute;
  top: 393px;
  left: 663px;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.POPUP-NOTIFICATION .text-wrapper-10 {
  position: absolute;
  top: 393px;
  left: 983px;
  width: 152px;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
}

.POPUP-NOTIFICATION .letter {
  position: absolute;
  top: 329px;
  left: 373px;
  width: 90px;
  height: 90px;
}

.POPUP-NOTIFICATION .call-male {
  position: absolute;
  top: 329px;
  left: 693px;
  width: 90px;
  height: 90px;
}

.POPUP-NOTIFICATION .web {
  position: absolute;
  top: 329px;
  left: 1013px;
  width: 90px;
  height: 90px;
}

.POPUP-NOTIFICATION .h-tr-qu-n-l-c-c-chuy {
  position: absolute;
  top: 823px;
  left: 567px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19.5px;
}

.POPUP-NOTIFICATION .li-n-h-c-ng-ty-c-ph {
  position: absolute;
  top: 574px;
  left: 403px;
  width: 679px;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
}

.POPUP-NOTIFICATION .text-wrapper-11 {
  font-weight: 800;
}

.POPUP-NOTIFICATION .text-wrapper-12 {
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
}

.POPUP-NOTIFICATION .rectangle-9 {
  position: absolute;
  top: 77px;
  left: 1035px;
  width: 324px;
  height: 263px;
  background-color: #d9d9d9;
  border-radius: 11px;
  box-shadow: 0px 4px 4px #00000040;
}

.POPUP-NOTIFICATION .rectangle-10 {
  position: absolute;
  top: 127px;
  left: 1042px;
  width: 311px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.POPUP-NOTIFICATION .rectangle-11 {
  position: absolute;
  top: 171px;
  left: 1042px;
  width: 311px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.POPUP-NOTIFICATION .rectangle-12 {
  position: absolute;
  top: 215px;
  left: 1042px;
  width: 311px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.POPUP-NOTIFICATION .rectangle-13 {
  position: absolute;
  top: 276px;
  left: 1043px;
  width: 311px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.POPUP-NOTIFICATION .rectangle-14 {
  position: absolute;
  top: 82px;
  left: 1042px;
  width: 311px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.POPUP-NOTIFICATION .text-wrapper-13 {
  position: absolute;
  top: 88px;
  left: 1047px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .text-wrapper-14 {
  position: absolute;
  top: 133px;
  left: 1046px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .text-wrapper-15 {
  position: absolute;
  top: 177px;
  left: 1049px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.POPUP-NOTIFICATION .video-m-i-kh-m-ph-h {
  position: absolute;
  top: 215px;
  left: 1050px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.POPUP-NOTIFICATION .livestream-tour-bi-n {
  position: absolute;
  top: 276px;
  left: 1051px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.POPUP-NOTIFICATION .profile {
  position: absolute;
  top: 84px;
  left: 1313px;
  width: 35px;
  height: 35px;
}

.POPUP-NOTIFICATION .img {
  top: 129px;
  position: absolute;
  left: 1313px;
  width: 35px;
  height: 35px;
}

.POPUP-NOTIFICATION .profile-2 {
  top: 173px;
  position: absolute;
  left: 1313px;
  width: 35px;
  height: 35px;
}

.POPUP-NOTIFICATION .record {
  position: absolute;
  top: 882px;
  left: 16px;
  width: 53px;
  height: 53px;
}

.POPUP-NOTIFICATION .level {
  position: absolute;
  top: 873px;
  left: 43px;
  width: 33px;
  height: 33px;
}

.POPUP-NOTIFICATION .circled-play-button {
  position: absolute;
  top: 224px;
  left: 1311px;
  width: 35px;
  height: 35px;
}

.POPUP-NOTIFICATION .circled-play-button-2 {
  position: absolute;
  top: 285px;
  left: 1312px;
  width: 35px;
  height: 35px;
}
/* Original CSS code should be injected here */

.POPUP-NOTIFICATION .search-input {
  position: absolute;
  top: 18px;
  left: calc(50.00% - 272px);
  width: 544px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-radius: 17px;
  padding: 0 40px 0 40px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  z-index: 2;
}

.POPUP-NOTIFICATION .search-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.POPUP-NOTIFICATION .search-input:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.POPUP-NOTIFICATION .rectangle-3 {
  cursor: pointer;
}

.POPUP-NOTIFICATION .rectangle-3:hover {
  background-color: #5a5a5a;
}

.POPUP-NOTIFICATION .rectangle-3:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.POPUP-NOTIFICATION .text-wrapper-7,
.POPUP-NOTIFICATION .text-wrapper-4,
.POPUP-NOTIFICATION .text-wrapper-5,
.POPUP-NOTIFICATION .text-wrapper-6 {
  cursor: pointer;
  transition: color 0.3s ease;
}

.POPUP-NOTIFICATION .text-wrapper-7:hover,
.POPUP-NOTIFICATION .text-wrapper-4:hover,
.POPUP-NOTIFICATION .text-wrapper-5:hover,
.POPUP-NOTIFICATION .text-wrapper-6:hover {
  color: #cccccc;
}

.POPUP-NOTIFICATION .text-wrapper-7:focus,
.POPUP-NOTIFICATION .text-wrapper-4:focus,
.POPUP-NOTIFICATION .text-wrapper-5:focus,
.POPUP-NOTIFICATION .text-wrapper-6:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.POPUP-NOTIFICATION .contact-section {
  position: relative;
}

.POPUP-NOTIFICATION .contact-cards {
  position: relative;
}

.POPUP-NOTIFICATION .company-info {
  position: relative;
}

.POPUP-NOTIFICATION .footer-nav {
  position: relative;
  width: 100%;
}

.POPUP-NOTIFICATION .footer-column {
  display: inline-block;
  vertical-align: top;
}

.POPUP-NOTIFICATION .footer-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.POPUP-NOTIFICATION .icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 52px;
  height: 52px;
}

.POPUP-NOTIFICATION .icon-button:hover {
  opacity: 0.8;
}

.POPUP-NOTIFICATION .icon-button:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.POPUP-NOTIFICATION .icon-button img {
  display: block;
}

.POPUP-NOTIFICATION .rectangle-6,
.POPUP-NOTIFICATION .rectangle-7,
.POPUP-NOTIFICATION .rectangle-8 {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.POPUP-NOTIFICATION .rectangle-6:hover,
.POPUP-NOTIFICATION .rectangle-7:hover,
.POPUP-NOTIFICATION .rectangle-8:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.POPUP-NOTIFICATION .rectangle-14,
.POPUP-NOTIFICATION .rectangle-10,
.POPUP-NOTIFICATION .rectangle-11,
.POPUP-NOTIFICATION .rectangle-12,
.POPUP-NOTIFICATION .rectangle-13 {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.POPUP-NOTIFICATION .rectangle-14:hover,
.POPUP-NOTIFICATION .rectangle-10:hover,
.POPUP-NOTIFICATION .rectangle-11:hover,
.POPUP-NOTIFICATION .rectangle-12:hover,
.POPUP-NOTIFICATION .rectangle-13:hover {
  background-color: #f5f5f5;
}

.POPUP-NOTIFICATION .circled-play-button,
.POPUP-NOTIFICATION .circled-play-button-2 {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.POPUP-NOTIFICATION .circled-play-button:hover,
.POPUP-NOTIFICATION .circled-play-button-2:hover {
  transform: scale(1.1);
}
