* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v189_175 {
  width: 100%;
  height: 960px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v189_176 {
  width: 43px;
  height: 43px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1365px;
}
.v189_177 {
  width: 100%;
  height: 112px;
  background: rgba(44,44,44,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v189_178 {
  width: 544px;
  height: 36px;
  background: rgba(217,217,217,1);
  opacity: 0.5;
  position: absolute;
  top: 18px;
  left: 448px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  overflow: hidden;
}
.v189_179 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 498px;
  text-shadow: 0px 6px 3px rgba(0.05096156895160675, 0.05096156895160675, 0.05096156895160675, 0.25);
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v189_180 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 36px;
  font-family: Jaro;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v189_181 {
  width: 160px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 115px;
  font-family: Jaldi;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v189_182 {
  width: 100%;
  height: 36px;
  background: rgba(0,0,0,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v189_183 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 494px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Jaldi;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v189_184 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 855px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Jaldi;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v189_185 {
  width: 69px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 1207px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Jaldi;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v189_186 {
  width: 93px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 76px;
  left: 101px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Jaldi;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v189_187 {
  width: 47px;
  height: 47px;
  background: url("../images/v189_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1368px;
  border: 1px solid rgba(255,249,249,1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  overflow: hidden;
}
.v189_188 {
  width: 43px;
  height: 46px;
  background: url("../images/v189_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 1307px;
  overflow: hidden;
}
.v189_189 {
  width: 31px;
  height: 31px;
  background: url("../images/v189_189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 459px;
  overflow: hidden;
}
.v189_190 {
  width: 354px;
  height: 40px;
  background: rgba(247,247,247,1);
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_191 {
  width: 108px;
  height: 32px;
  background: rgba(255,255,255,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
  overflow: hidden;
}
.v189_192 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_193 {
  width: 96px;
  height: 32px;
  background: url("../images/v189_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 112px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v189_194 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_195 {
  width: 142px;
  height: 32px;
  background: url("../images/v189_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 208px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v189_196 {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_197 {
  width: 83px;
  height: 32px;
  background: url("../images/v189_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 225px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v189_198 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_199 {
  width: 132px;
  height: 32px;
  background: url("../images/v189_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 308px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v189_200 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_201 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 182px;
  overflow: hidden;
}
.v189_202 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v189_203 {
  width: 522px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_204 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 632px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_205 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 772px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_206 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 924px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_207 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_207.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 182px;
  overflow: hidden;
}
.v189_208 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_209 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_210 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_211 {
  width: 85px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_212 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_213 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_214 {
  width: 73px;
  height: 28px;
  background: rgba(193,229,189,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_215 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_216 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_217 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_218 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_219 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_219.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_220 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_220.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_221 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_221.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_222 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 182px;
  overflow: hidden;
}
.v189_223 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_224 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_225 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_226 {
  width: 86px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_227 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_228 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_429 {
  width: 73px;
  height: 28px;
  background: rgba(193,229,189,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_430 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_231 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_232 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_233 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_234 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_234.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_235 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_235.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_236 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_236.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_237 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 182px;
  overflow: hidden;
}
.v189_238 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_239 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_240 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_241 {
  width: 86px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_242 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_243 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_435 {
  width: 73px;
  height: 28px;
  background: rgba(193,229,189,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_436 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_246 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_247 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_248 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_249 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_249.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_250 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_250.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_251 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_251.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_252 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 182px;
  overflow: hidden;
}
.v189_253 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_254 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_255 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_256 {
  width: 84px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_257 {
  width: 68px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_258 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_259 {
  width: 73px;
  height: 28px;
  background: rgba(194,229,190,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_260 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_261 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_262 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_263 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_264 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_264.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_265 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_265.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_266 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_266.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_267 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 182px;
  overflow: hidden;
}
.v189_268 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v189_269 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_270 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_271 {
  width: 87px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_272 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_273 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_274 {
  width: 89px;
  height: 28px;
  background: rgba(255,186,186,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_275 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_276 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_277 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_278 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_279 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_279.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_280 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_280.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_281 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_281.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_282 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 514px;
  left: 182px;
  overflow: hidden;
}
.v189_283 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_284 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_285 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_286 {
  width: 87px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_287 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_288 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_289 {
  width: 63px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_290 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_450 {
  width: 89px;
  height: 28px;
  background: rgba(255,186,186,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_451 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_293 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_294 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_295 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_296 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_296.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_297 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_297.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_298 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_298.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_299 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_299.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 182px;
  overflow: hidden;
}
.v189_300 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_301 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_302 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_303 {
  width: 85px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_304 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_305 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_456 {
  width: 89px;
  height: 28px;
  background: rgba(255,186,186,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_457 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_308 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_309 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_310 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_311 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_311.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_312 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_312.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_313 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_313.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_314 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_314.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 626px;
  left: 182px;
  overflow: hidden;
}
.v189_315 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_316 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_317 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_318 {
  width: 87px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_319 {
  width: 71px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_320 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_459 {
  width: 89px;
  height: 28px;
  background: rgba(255,186,186,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_460 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_323 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_324 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_324.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_325 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_326 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_326.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_327 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_327.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_328 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_328.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_329 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 182px;
  overflow: hidden;
}
.v189_330 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v189_331 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_332 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_333 {
  width: 86px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_334 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_462 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_463 {
  width: 73px;
  height: 28px;
  background: rgba(194,229,190,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_464 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_338 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_339 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_339.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_340 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_341 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_341.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_342 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_342.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_343 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_343.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_344 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 738px;
  left: 182px;
  overflow: hidden;
}
.v189_345 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_346 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_347 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_348 {
  width: 86px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_349 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_466 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_467 {
  width: 73px;
  height: 28px;
  background: rgba(194,229,190,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_468 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_353 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_354 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_355 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_356 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_356.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_357 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_357.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_358 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_358.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_359 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 182px;
  overflow: hidden;
}
.v189_360 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_361 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_362 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_363 {
  width: 95px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_364 {
  width: 79px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_470 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_471 {
  width: 73px;
  height: 28px;
  background: rgba(194,229,190,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_472 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_370 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_371 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_372 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_373 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_373.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_374 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_374.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_375 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_375.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_376 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_376.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 182px;
  overflow: hidden;
}
.v189_377 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_378 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_379 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_380 {
  width: 93px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_381 {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_474 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_475 {
  width: 73px;
  height: 28px;
  background: rgba(194,229,190,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_476 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_387 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_388 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_389 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_390 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_390.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_391 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_391.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_392 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_392.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_393 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 182px;
  overflow: hidden;
}
.v189_394 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_395 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  opacity: 1;
  text-align: left;
}
.v189_396 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_397 {
  width: 100px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_398 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_478 {
  width: 152px;
  height: 28px;
  background: url("../images/v189_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_479 {
  width: 73px;
  height: 28px;
  background: rgba(194,229,190,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_480 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_404 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 934px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_405 {
  width: 95px;
  height: 24px;
  background: url("../images/v189_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1002px;
  overflow: hidden;
}
.v189_406 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.v189_407 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_407.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_408 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_408.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_409 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_409.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_410 {
  width: 100%;
  height: 56px;
  background: url("../images/v189_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 182px;
  overflow: hidden;
}
.v189_411 {
  width: 70px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_412 {
  width: 512px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 90px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v189_413 {
  width: 120px;
  height: 28px;
  background: url("../images/v189_413.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 622px;
  overflow: hidden;
}
.v189_414 {
  width: 106px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_415 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_416 {
  width: 64px;
  height: 28px;
  background: url("../images/v189_416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 762px;
  overflow: hidden;
}
.v189_417 {
  width: 43px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 6px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v189_418 {
  width: 27px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 8px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v189_419 {
  width: 48px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 16px;
  left: 846px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: right;
}
.v189_420 {
  width: 84px;
  height: 28px;
  background: url("../images/v189_420.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 914px;
  overflow: hidden;
}
.v189_421 {
  width: 28px;
  height: 28px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  overflow: hidden;
}
.v189_422 {
  width: 28px;
  height: 28px;
  background: url("../images/v189_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v189_423 {
  width: 3px;
  height: 24px;
  background: url("../images/v189_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1018px;
  overflow: hidden;
}
.v189_424 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 21px;
  overflow: hidden;
}
.v189_425 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_425.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_426 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_426.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 18px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_427 {
  width: 2px;
  height: 2px;
  background: url("../images/v189_427.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 4px;
  border: 2px solid rgba(130,130,130,1);
}
.v189_428 {
  width: 27px;
  height: 27px;
  background: url("../images/v189_428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 22px;
  overflow: hidden;
}
