.TRANG-DASHBOARD-KHCH {
    background-color: #f5f5f5;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    height: 960px;
    position: relative;
}

.TRANG-DASHBOARD-KHCH .vector {
    position: absolute;
    width: 3.04%;
    height: 4.55%;
    top: 0;
    left: 94.85%;
}

.TRANG-DASHBOARD-KHCH .frame {
    position: absolute;
    width: 100%;
    height: 11.67%;
    top: 0;
    left: 0;
    background-color: #2c2c2c;
}

.TRANG-DASHBOARD-KHCH .rectangle {
    position: absolute;
    top: 18px;
    left: calc(50.00% - 272px);
    width: 544px;
    height: 36px;
    background-color: #d9d9d9;
    border-radius: 17px;
    opacity: 0.5;
}

.TRANG-DASHBOARD-KHCH .text-wrapper {
    position: absolute;
    top: 24px;
    left: 498px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 6px 3px #0c0c0c40;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .title {
    position: absolute;
    top: 9px;
    left: 36px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.48px;
    line-height: 72px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .div {
    position: absolute;
    top: 29px;
    left: 115px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.32px;
    line-height: 48px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .rectangle-2 {
    position: absolute;
    width: 100%;
    height: 3.75%;
    top: 8.02%;
    left: 0;
    background-color: #000000cc;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-2 {
    position: absolute;
    width: 4.58%;
    height: 3.75%;
    top: 7.92%;
    left: 34.31%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-3 {
    position: absolute;
    width: 6.39%;
    height: 3.75%;
    top: 7.92%;
    left: 59.38%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-4 {
    position: absolute;
    width: 4.79%;
    height: 3.75%;
    top: 7.92%;
    left: 83.82%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-5 {
    position: absolute;
    width: 6.46%;
    height: 3.75%;
    top: 7.92%;
    left: 7.01%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .img {
    position: absolute;
    width: 3.26%;
    height: 4.90%;
    top: 0;
    left: 95.00%;
    object-fit: cover;
}

.TRANG-DASHBOARD-KHCH .alarm {
    position: absolute;
    width: 2.99%;
    height: 4.79%;
    top: 0;
    left: 90.76%;
}

.TRANG-DASHBOARD-KHCH .search {
    position: absolute;
    width: 2.15%;
    height: 3.23%;
    top: 2.19%;
    left: 31.87%;
}

.TRANG-DASHBOARD-KHCH .segmented-control {
    display: inline-flex;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    top: calc(50.00% - 342px);
    left: calc(50.00% - 650px);
    background-color: #f7f7f7;
    border-radius: 8px;
}

.TRANG-DASHBOARD-KHCH .item {
    display: inline-flex;
    height: 32px;
    align-items: center;
    gap: 8px;
    padding: 0px 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--m3-elevation-light-5);
}

.TRANG-DASHBOARD-KHCH .text-wrapper-6 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.TRANG-DASHBOARD-KHCH .div-wrapper {
    display: inline-flex;
    height: 32px;
    align-items: center;
    gap: 8px;
    padding: 0px 12px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
}

.TRANG-DASHBOARD-KHCH .navbar {
    display: flex;
    width: 76.18%;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 18.54%;
    left: 12.64%;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-7 {
    position: relative;
    width: 70px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-8 {
    position: relative;
    width: 522px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-9 {
    position: relative;
    width: 120px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-10 {
    position: relative;
    width: 132px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-11 {
    position: relative;
    width: 75px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.TRANG-DASHBOARD-KHCH .task {
    display: flex;
    width: 76.18%;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 24.38%;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .p {
    position: relative;
    width: 512px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.TRANG-DASHBOARD-KHCH .span {
    font-weight: 500;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-12 {
    font-family: "Inter-ExtraLight", Helvetica;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-13 {
    font-family: "Inter-ExtraLight", Helvetica;
    font-weight: 200;
    font-size: 12px;
    line-height: 18px;
    text-decoration: underline;
}

.TRANG-DASHBOARD-KHCH .tag-wrapper {
    position: relative;
    width: 120px;
    height: 28px;
}

.TRANG-DASHBOARD-KHCH .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.TRANG-DASHBOARD-KHCH .div-2 {
    width: 152px;
    position: relative;
    height: 28px;
}

.TRANG-DASHBOARD-KHCH .label-wrapper {
    position: relative;
    background-color: #c1e5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-14 {
    position: relative;
    width: 48px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
}

.TRANG-DASHBOARD-KHCH .more-horizontal-wrapper {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 24px;
}

.TRANG-DASHBOARD-KHCH .more-horizontal {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
}

.TRANG-DASHBOARD-KHCH .vector-2 {
    position: absolute;
    width: 8.33%;
    height: 8.33%;
    top: 41.67%;
    left: 41.67%;
}

.TRANG-DASHBOARD-KHCH .vector-3 {
    position: absolute;
    width: 8.33%;
    height: 8.33%;
    top: 41.67%;
    left: 70.83%;
}

.TRANG-DASHBOARD-KHCH .vector-4 {
    position: absolute;
    width: 8.33%;
    height: 8.33%;
    top: 41.67%;
    left: 12.50%;
}

.TRANG-DASHBOARD-KHCH .task-2 {
    width: 76.18%;
    top: 30.21%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .tag-2 {
    position: relative;
    background-color: #a6ccff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-3 {
    width: 76.18%;
    top: 36.04%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-4 {
    width: 76.18%;
    top: 41.88%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .tag-3 {
    position: relative;
    background-color: #c2e5be;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-5 {
    width: 76.18%;
    top: 47.71%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-15 {
    position: relative;
    width: 70px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #828282;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22.5px;
}

.TRANG-DASHBOARD-KHCH .tag-4 {
    position: relative;
    background-color: #ffbaba;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-6 {
    width: 76.18%;
    top: 53.54%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .tag-5 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .tag-6 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #a6ccff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-7 {
    width: 76.18%;
    top: 59.38%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-8 {
    width: 76.18%;
    top: 65.21%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-9 {
    width: 76.18%;
    top: 71.04%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-10 {
    width: 76.18%;
    top: 76.88%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-11 {
    width: 76.18%;
    top: 82.71%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-12 {
    width: 76.18%;
    top: 88.54%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-13 {
    width: 76.18%;
    top: 94.38%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .task-14 {
    width: 70.90%;
    top: 100.21%;
    display: flex;
    height: 5.83%;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 12.64%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-DASHBOARD-KHCH .text-wrapper-16 {
    position: relative;
    width: 512px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.TRANG-DASHBOARD-KHCH .frame-2 {
    position: relative;
    width: 64px;
    height: 28px;
}

.TRANG-DASHBOARD-KHCH .avatar-wrapper {
    position: relative;
    width: 84px;
    height: 28px;
}

.TRANG-DASHBOARD-KHCH .avatar {
    position: relative;
    top: calc(50.00% - 14px);
    left: calc(50.00% - 14px);
    width: 28px;
    height: 28px;
    background-color: #f7f7f7;
    border-radius: 1000px;
    overflow: hidden;
}

.TRANG-DASHBOARD-KHCH .rectangle-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -18467.86%;
    left: -9364.29%;
    object-fit: cover;
}

.TRANG-DASHBOARD-KHCH .more-horizontal-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.TRANG-DASHBOARD-KHCH .vector-5 {
    position: absolute;
    width: 8.33%;
    height: 8.33%;
    top: -21508.33%;
    left: -11108.33%;
}

.TRANG-DASHBOARD-KHCH .vector-6 {
    position: absolute;
    width: 8.33%;
    height: 8.33%;
    top: -21508.33%;
    left: -11079.17%;
}

.TRANG-DASHBOARD-KHCH .vector-7 {
    position: absolute;
    width: 8.33%;
    height: 8.33%;
    top: -21508.33%;
    left: -11137.50%;
}

.TRANG-DASHBOARD-KHCH .undo {
    position: absolute;
    top: 146px;
    left: 22px;
    width: 27px;
    height: 27px;
}
