POPUP-MAILBOX {
 background-color: #ffffff;
 overflow: hidden;
 width: 100%;
 min-width: 1440px;
 min-height: 960px;
 position: relative;
}
.POPUP-MAILBOX .frame {
 position: absolute;
 top: 0;
 left: 0;
 width: 1440px;
 height: 122px;
 background-color: #1c1f21;
}
.POPUP-MAILBOX .rectangle {
 position: absolute;
 top: 18px;
 left: calc(50.00% - 272px);
 width: 544px;
 height: 36px;
 background-color: #d9d9d9;
 border-radius: 17px;
 opacity: 0.5;
}
.POPUP-MAILBOX .text-wrapper {
 position: absolute;
 top: 24px;
 left: 498px;
 height: 24px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-shadow: 0px 6px 3px #0c0c0c40;
 font-family: "Inter-Light", Helvetica;
 font-weight: 300;
 color: #ffffff;
 font-size: 16px;
 text-align: center;
 letter-spacing: 0;
 line-height: 24px;
 white-space: nowrap;
}
.POPUP-MAILBOX .title {
 position: absolute;
 top: 9px;
 left: 36px;
 height: 72px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Jaro-Regular", Helvetica;
 font-weight: 400;
 color: #ffffff;
 font-size: 48px;
 letter-spacing: -0.48px;
 line-height: 72px;
 white-space: nowrap;
}
.POPUP-MAILBOX .div {
 position: absolute;
 top: 29px;
 left: 115px;
 height: 48px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Jaldi-Bold", Helvetica;
 font-weight: 700;
 color: #ffffff;
 font-size: 32px;
 letter-spacing: -0.32px;
 line-height: 48px;
 white-space: nowrap;
}
.POPUP-MAILBOX .vector {
 position: absolute;
 width: 3.06%;
 height: 32.84%;
 top: 14.93%;
 left: 94.86%;
}
.POPUP-MAILBOX .search {
 position: absolute;
 top: 21px;
 left: 459px;
 width: 31px;
 height: 31px;
}
.POPUP-MAILBOX .rectangle-2 {
 position: absolute;
 top: 732px;
 left: 0;
 width: 1440px;
 height: 228px;
 background-color: #d2d2d2;
}
.POPUP-MAILBOX .alarm {
 position: absolute;
 top: 19px;
 left: 1307px;
 width: 43px;
 height: 46px;
}
POPUP-MAILBOX .tr-gi-p-trung-t-m-tr {
 position: absolute;
 top: 803px;
 left: 86px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-Bold", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 13px;
 letter-spacing: 0;
 line-height: 19.5px;
}
.POPUP-MAILBOX .span {
 font-weight: 700;
}
.POPUP-MAILBOX .text-wrapper-2 {
 font-family: "Inter-ExtraLight", Helvetica;
 font-weight: 200;
}
.POPUP-MAILBOX .i-u-kho-n-s-d-ng-qu {
 position: absolute;
 top: 823px;
 left: 300px;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-ExtraLight", Helvetica;
 font-weight: 200;
 color: #000000;
 font-size: 13px;
 letter-spacing: 0;
 line-height: 19.5px;
}
.POPUP-MAILBOX .c-ng-ty-v-ch-ng-t-i {
 position: absolute;
 top: 803px;
 left: 1123px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-SemiBold", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 13px;
 letter-spacing: 0;
 line-height: 19.5px;
}
.POPUP-MAILBOX .text-wrapper-3 {
 font-weight: 600;
}
.POPUP-MAILBOX .rectangle-3 {
 position: absolute;
 top: 887px;
 left: 1354px;
 width: 74px;
 height: 54px;
 background-color: #a9b3a5;
 border-radius: 20px;
}
.POPUP-MAILBOX .i-t-c-c-a-ch-ng-t-i {
 position: absolute;
 top: 803px;
 left: 863px;
 height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-SemiBold", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 13px;
 letter-spacing: 0;
 line-height: 19.5px;
}
.POPUP-MAILBOX .unread-messages {
 position: absolute;
 top: 890px;
 left: 1365px;
 width: 52px;
 height: 52px;
}
.POPUP-MAILBOX .ringer-volume {
 position: absolute;
 top: 888px;
 left: 1288px;
 width: 52px;
 height: 52px;
}
.POPUP-MAILBOX .rectangle-4 {
 position: absolute;
 top: 87px;
 left: 0;
 width: 1440px;
 height: 36px;
 background-color: #000000cc;
}
.POPUP-MAILBOX .rectangle-5 {
 position: absolute;
 top: 86px;
 left: 1065px;
 width: 376px;
 height: 37px;
 background-color: #757575;
 border-radius: 26px;
 border: 1px solid;
 border-color: #000000;
}
.POPUP-MAILBOX .text-wrapper-4 {
 position: absolute;
 top: 86px;
 left: 494px;
 height: 36px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-shadow: 0px 4px 4px #00000040;
 font-family: "Jaldi-Bold", Helvetica;
 font-weight: 700;
 color: #ffffff;
 font-size: 24px;
 letter-spacing: -0.24px;
 line-height: 36px;
 white-space: nowrap;
}
.POPUP-MAILBOX .text-wrapper-5 {
 position: absolute;
 top: 86px;
 left: 855px;
 height: 36px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-shadow: 0px 4px 4px #00000040;
 font-family: "Jaldi-Bold", Helvetica;
 font-weight: 700;
 color: #ffffff;
 font-size: 24px;
 letter-spacing: -0.24px;
 line-height: 36px;
 white-space: nowrap;
}
.POPUP-MAILBOX .text-wrapper-6 {
 position: absolute;
 top: 86px;
 left: 1207px;
 height: 36px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-shadow: 0px 4px 4px #00000040;
 font-family: "Jaldi-Bold", Helvetica;
 font-weight: 700;
 color: #ffffff;
 font-size: 24px;
 letter-spacing: -0.24px;
 line-height: 36px;
 white-space: nowrap;
}
.POPUP-MAILBOX .text-wrapper-7 {
 position: absolute;
 top: 86px;
 left: 101px;
 height: 36px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-shadow: 0px 4px 4px #00000040;
 font-family: "Jaldi-Bold", Helvetica;
 font-weight: 700;
 color: #ffffff;
 font-size: 24px;
 letter-spacing: -0.24px;
 line-height: 36px;
 white-space: nowrap;
}
 position: absolute;
 top: 308px;
 left: 330px;
 width: 175px;
 height: 170px;
 background-color: #eaeee8;
 border-radius: 20px;
}
.POPUP-MAILBOX .rectangle-7 {
 position: absolute;
 top: 308px;
 left: 650px;
 width: 175px;
 height: 170px;
 background-color: #eaeee8;
 border-radius: 20px;
}
.POPUP-MAILBOX .rectangle-8 {
 position: absolute;
 top: 308px;
 left: 970px;
 width: 175px;
 height: 170px;
 background-color: #eaeee8;
 border-radius: 20px;
}
.POPUP-MAILBOX .p {
 position: absolute;
 top: 161px;
 left: 382px;
 width: 712px;
 height: 102px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-Black", Helvetica;
 font-weight: 900;
 color: #000000;
 font-size: 32px;
 text-align: center;
 letter-spacing: 0;
 line-height: 48px;
}
.POPUP-MAILBOX .text-wrapper-8 {
 position: absolute;
 top: 393px;
 left: 343px;
 width: 152px;
 height: 102px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-SemiBold", Helvetica;
 font-weight: 600;
 color: #000000;
 font-size: 14px;
 text-align: center;
 letter-spacing: 0;
 line-height: 21px;
}
.POPUP-MAILBOX .letter {
 position: absolute;
 top: 329px;
 left: 373px;
 width: 90px;
 height: 90px;
}
.POPUP-MAILBOX .call-male {
 position: absolute;
 top: 329px;
 left: 693px;
 width: 90px;
 height: 90px;
}
.POPUP-MAILBOX .web {
 position: absolute;
 top: 329px;
 left: 1013px;
 width: 90px;
 height: 90px;
}
POPUP-MAILBOX .h-tr-qu-n-l-c-c-chuy {
 position: absolute;
 top: 823px;
 left: 567px;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-Bold", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 13px;
 letter-spacing: 0;
 line-height: 19.5px;
}
.POPUP-MAILBOX .li-n-h-c-ng-ty-c-ph {
 position: absolute;
 top: 574px;
 left: 403px;
 width: 679px;
 height: 114px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-family: "Inter-ExtraBold", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 20px;
 text-align: center;
 letter-spacing: 0;
 line-height: 30px;
}
.POPUP-MAILBOX .text-wrapper-11 {
 font-weight: 800;
}
.POPUP-MAILBOX .text-wrapper-12 {
 font-family: "Inter-Light", Helvetica;
 font-weight: 300;
}
.POPUP-MAILBOX .image {
 position: absolute;
 top: 363px;
 left: 1013px;
 width: 404px;
 height: 515px;
 aspect-ratio: 0.78;
 object-fit: cover;
}
.POPUP-MAILBOX .record {
 position: absolute;
 top: 882px;
 left: 16px;
 width: 53px;
 height: 53px;
}
.POPUP-MAILBOX .level {
 position: absolute;
 top: 873px;
 left: 43px;
 width: 33px;
height: 33px;
}
/* Inject original CSS code here */
/* Accessibility improvements */
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 padding: 0;
 margin: -1px;
 overflow: hidden;
 clip: rect(0, 0, 0, 0);
 white-space: nowrap;
 border-width: 0;
}
/* Header improvements */
.POPUP-MAILBOX .header-content {
 display: flex;
 align-items: center;
 gap: 10px;
}
.POPUP-MAILBOX .search-container {
 position: relative;
}
.POPUP-MAILBOX .text-wrapper {
 position: absolute;
 top: 24px;
 left: 498px;
 width: 400px;
 height: 24px;
 background: transparent;
 border: none;
 outline: none;
 color: #ffffff;
 font-family: "Inter-Light", Helvetica;
 font-weight: 300;
 font-size: 16px;
 text-align: left;
 letter-spacing: 0;
 line-height: 24px;
 padding-left: 10px;
 z-index: 1;
}
.POPUP-MAILBOX .text-wrapper::placeholder {
 color: #ffffff;
 text-shadow: 0px 6px 3px #0c0c0c40;
}
.POPUP-MAILBOX .text-wrapper:focus {
 outline: 2px solid #4a90e2;
 outline-offset: 2px;
}
.POPUP-MAILBOX .header-actions {
 position: absolute;
 top: 19px;
 right: 36px;
 display: flex;
 gap: 20px;
 align-items: center;
}
justify-content: center;
 transition: opacity 0.2s ease;
}
.POPUP-MAILBOX .icon-button:hover,
.POPUP-MAILBOX .icon-button:focus {
 opacity: 0.8;
}
.POPUP-MAILBOX .icon-button:focus-visible {
 outline: 2px solid #4a90e2;
 outline-offset: 2px;
}
/* Contact cards improvements */
.POPUP-MAILBOX .contact-cards {
 display: flex;
 justify-content: center;
 gap: 145px;
 margin-top: 45px;
}
.POPUP-MAILBOX .contact-card {
 position: relative;
 width: 175px;
}
/* Footer improvements */
.POPUP-MAILBOX .footer-content {
 display: flex;
 justify-content: space-between;
 padding: 71px 86px 0;
 gap: 40px;
}
.POPUP-MAILBOX .footer-column {
 flex: 0 0 auto;
}
.POPUP-MAILBOX .footer-actions {
 position: absolute;
 bottom: 19px;
 left: 16px;
 display: flex;
 gap: 15px;
 align-items: center;
}
.POPUP-MAILBOX .rectangle-3 {
 position: relative;
 background: transparent;
 border: none;
 padding: 0;
 cursor: pointer;
}
/* Image container */
.POPUP-MAILBOX .image-container {
 position: absolute;
 top: 363px;
 right: 23px;
 width: 404px;
 height: 515px;
 overflow: hidden;
}
}
/* Responsive adjustments */
@media (max-width: 1440px) {
 .POPUP-MAILBOX {
 min-width: auto;
 }
}
/* Focus styles for better accessibility */
.POPUP-MAILBOX button:focus-visible,
.POPUP-MAILBOX a:focus-visible,
.POPUP-MAILBOX input:focus-visible {
 outline: 2px solid #4a90e2;
 outline-offset: 2px;
}
/* Ensure proper stacking context */
.POPUP-MAILBOX main {
 position: relative;
 z-index: 1;
}
.POPUP-MAILBOX footer {
 position: relative;
 z-index: 2;
}
