.TRANG-THNG-k-SEO {
    background-color: #f5f5f5;
    width: 100%;
    min-width: 1440px;
    height: 960px;
    position: relative;
}

.TRANG-THNG-k-SEO .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 112px;
    background-color: #2c2c2c;
}

.TRANG-THNG-k-SEO .rectangle {
    position: absolute;
    top: 18px;
    left: calc(50.00% - 272px);
    width: 544px;
    height: 36px;
    background-color: #d9d9d9;
    border-radius: 17px;
    opacity: 0.5;
}

.TRANG-THNG-k-SEO .text-wrapper {
    position: absolute;
    top: 24px;
    left: 498px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 6px 3px #0c0c0c40;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .title {
    position: absolute;
    top: 9px;
    left: 36px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: -0.48px;
    line-height: 72px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .div {
    top: 29px;
    left: 115px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.32px;
    line-height: 48px;
    position: absolute;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .rectangle-2 {
    position: absolute;
    top: 77px;
    left: 0;
    width: 1440px;
    height: 36px;
    background-color: #000000cc;
}

.TRANG-THNG-k-SEO .text-wrapper-2 {
    position: absolute;
    top: 76px;
    left: 494px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-3 {
    position: absolute;
    top: 76px;
    left: 855px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-4 {
    position: absolute;
    top: 76px;
    left: 1207px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-5 {
    position: absolute;
    top: 76px;
    left: 101px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Jaldi-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.24px;
    line-height: 36px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .alarm {
    position: absolute;
    top: 19px;
    left: 1307px;
    width: 43px;
    height: 46px;
}

.TRANG-THNG-k-SEO .search {
    position: absolute;
    top: 21px;
    left: 459px;
    width: 31px;
    height: 31px;
}

.TRANG-THNG-k-SEO .line-cart {
    position: absolute;
    width: calc(100% - 707px);
    top: 395px;
    left: 70px;
    height: 448px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dfdfdf;
    box-shadow: 0px 4px 12px #0000000a;
}

.TRANG-THNG-k-SEO .p {
    position: absolute;
    top: 24px;
    left: 24px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .lines {
    display: flex;
    flex-direction: column;
    width: calc(100% - 48px);
    height: calc(100% - 119px);
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 71px;
    left: 24px;
}

.TRANG-THNG-k-SEO .vector {
    margin-top: -0.50px;
    position: relative;
    width: 685px;
    height: 1px;
    object-fit: cover;
}

.TRANG-THNG-k-SEO .img {
    position: relative;
    width: 685px;
    height: 1px;
    object-fit: cover;
}

.TRANG-THNG-k-SEO .vector-2 {
    margin-bottom: -0.50px;
    position: relative;
    width: 685px;
    height: 1px;
    object-fit: cover;
}

.TRANG-THNG-k-SEO .x-axis {
    display: flex;
    width: calc(100% - 48px);
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 404px;
    left: 24px;
}

.TRANG-THNG-k-SEO .div-wrapper {
    position: relative;
    width: 18px;
    height: 20px;
}

.TRANG-THNG-k-SEO .text-wrapper-6 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-7 {
    position: relative;
    width: 18px;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 13px;
    text-align: right;
    letter-spacing: 0;
    line-height: 19.5px;
}

.TRANG-THNG-k-SEO .y-axis {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    position: absolute;
    top: 71px;
    left: 24px;
}

.TRANG-THNG-k-SEO .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #828282;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19.5px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .graph {
    position: absolute;
    width: calc(100% - 95px);
    top: 109px;
    left: 24px;
    height: 289px;
    object-fit: cover;
}

.TRANG-THNG-k-SEO .dot {
    position: absolute;
    top: 105px;
    right: 63px;
    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 6px;
}

.TRANG-THNG-k-SEO .glow {
    position: absolute;
    top: 87px;
    right: 45px;
    width: 48px;
    height: 48px;
    background-color: #000000;
    border-radius: 24px;
    opacity: 0.1;
}

.TRANG-THNG-k-SEO .cards {
    display: flex;
    width: calc(100% - 161px);
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 191px;
    left: 70px;
}

.TRANG-THNG-k-SEO .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dfdfdf;
    box-shadow: 0px 4px 12px #0000000a;
}

.TRANG-THNG-k-SEO .text-wrapper-10 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.TRANG-THNG-k-SEO .text-wrapper-11 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    letter-spacing: -0.80px;
    line-height: 44.0px;
}

.TRANG-THNG-k-SEO .text-wrapper-12 {
    position: relative;
    align-self: stretch;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #828282;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    font-style: var(--small-text-font-style);
}

.TRANG-THNG-k-SEO .card-2 {
    display: flex;
    flex-direction: column;
    height: 172px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dfdfdf;
    box-shadow: 0px 4px 12px #0000000a;
}

.TRANG-THNG-k-SEO .segmented-control {
    display: inline-flex;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    top: 138px;
    left: 70px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

.TRANG-THNG-k-SEO .item {
    display: inline-flex;
    height: 32px;
    align-items: center;
    gap: 8px;
    padding: 0px 12px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
}

.TRANG-THNG-k-SEO .text-wrapper-13 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-family: var(--small-text-font-family);
    font-weight: var(--small-text-font-weight);
    color: #000000;
    font-size: var(--small-text-font-size);
    letter-spacing: var(--small-text-letter-spacing);
    line-height: var(--small-text-line-height);
    white-space: nowrap;
    font-style: var(--small-text-font-style);
}

.TRANG-THNG-k-SEO .item-2 {
    display: inline-flex;
    height: 32px;
    align-items: center;
    gap: 8px;
    padding: 0px 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: var(--m3-elevation-dark-5);
}

.TRANG-THNG-k-SEO .rectangle-3 {
    position: absolute;
    width: 3.26%;
    height: 4.90%;
    top: 0;
    left: 95.00%;
    object-fit: cover;
}

.TRANG-THNG-k-SEO .list {
    position: absolute;
    width: calc(100% - 925px);
    top: 393px;
    left: 848px;
    height: 448px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #dfdfdf;
    box-shadow: 0px 4px 12px #0000000a;
}

.TRANG-THNG-k-SEO .text-wrapper-14 {
    margin-top: 21px;
    width: 70px;
    height: 24px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #828282;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-15 {
    margin-top: 21px;
    width: 61px;
    height: 24px;
    margin-right: 28px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #828282;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-16 {
    position: absolute;
    width: calc(100% - 1136px);
    top: 456px;
    left: 872px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #828282;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.TRANG-THNG-k-SEO .list-2 {
    display: flex;
    flex-direction: column;
    width: calc(100% - 973px);
    align-items: flex-start;
    position: absolute;
    top: 484px;
    left: 872px;
}

.TRANG-THNG-k-SEO .frame-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 48px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #dfdfdf;
}

.TRANG-THNG-k-SEO .text-wrapper-17 {
    position: absolute;
    width: calc(100% - 163px);
    top: 12px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.TRANG-THNG-k-SEO .text-wrapper-18 {
    position: absolute;
    top: 12px;
    right: 77px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .text-wrapper-19 {
    position: absolute;
    top: 12px;
    right: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.TRANG-THNG-k-SEO .title-2 {
    top: 416px;
    left: 872px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    white-space: nowrap;
}
